<a href="https://colab.research.google.com/github/DS3001/group2/blob/main/DS3001_Group_2_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2 - Stroke
**Group 2: Elaine Zhang**

In [2]:
# imports
import pandas as pd
import numpy as np

### Data Cleaning

In [13]:
training_data = pd.read_csv('training_data.csv')
testing_data = pd.read_csv('testing_data.csv')
training_data.columns

Index(['Unnamed: 0', 'id', 'gender', 'age', 'hypertension', 'heart_disease',
       'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level',
       'bmi', 'smoking_status', 'stroke'],
      dtype='object')

In [14]:
print('Training size', training_data.shape)
print('Testing size', testing_data.shape)

Training size (4087, 13)
Testing size (1023, 13)

In [12]:
# Missing values?
print("Training NaN --")
nan_details = training_data.isnull().sum()
for column, value in nan_details.items():
  if (value != 0):
    print(column, value)

print("Testing NaN --")
nan_details = testing_data.isnull().sum()
for column, value in nan_details.items():
  if (value != 0):
    print(column, value)

Training NaN --
bmi 159
Testing NaN --
bmi 42

### Data Visualization